@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* .cori-body {
    background-color: rgb(245, 174, 213);
}
 */

.cori-tarjeta{
  background-color: rgb(251, 197, 221); 
  border: 2px solid black; 
  border-radius: 10px; 
  border-style:dashed;
  border-color: rgb(231, 30, 64); 
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.cori-imagen img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

.cori-btn img {
    height: 40px;
}

.cori-btn {
    height: 50px;
    width: 100px;
}

.cori-botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cori-frase {
    background-color: rgb(252, 160, 183);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.cori-nombre {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 700;

}

.cori-header {
    font-family: "Playfair Display", serif; 
    background-color: rgb(233, 39, 103);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    box-shadow: 0px 4px 10px  black
}

.cori-footer {
    background-color:rgb(231, 81, 126);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 10px rgb(94, 93, 93);
    font-family: "Playfair Display", serif;
    color: aliceblue;
}

.cori-carrusell {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

